<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Size of the words allowed as arguments-->
    <add key="AllowedWordSize" value="4"/>
    <!-- if after processing one ladder asks for another set of arguments or finish  -->
    <add key="ContinuosMode" value="true"/>
    <!-- if the search sould be done by searching in deep or breath -->
    <add key="SearchType" value="BREATH_FIRST"/>
    <!--  the number of results to retrieve: FIRST, TOP_N, ALL -->
    <add key="ResultType" value="FIRST"/>
    <!-- Number o results to be retrieved if ResultType=TOP_N -->
    <add key="TOP_N_Amount" value="5"/>
  </appSettings>
</configuration>